.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  mat-card {
    padding: 20px;
    width: 300px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
    }
  }
}
